<app-error-msg></app-error-msg>
<div class="container">
    <h2>Imóveis Cadastrados</h2>
    <div class="properties-list">
        <div *ngFor="let property of properties">
            <div class="property-container">
                <ul>
                    <li>Id: <span class="item-value first">{{property.id}}</span></li>
                    <li>CEP: <span class="item-value">{{property.cep}}</span></li>
                    <li>N°: <span class="item-value">{{property.number}}</span></li>
                    <li>Complemento: <span class="item-value">{{property.complement}}</span></li>
                    <li>Quartos: <span class="item-value">{{property.rooms}}</span></li>
                    <li>Valor: <span class="item-value">R${{property.price}}</span></li>
                    <li>Disponível: <span class="item-value last" *ngIf="property.available === true">Sim</span><span
                            class="item-value last" *ngIf="property.available === false">Não</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-bar">
        <span>Mostrando resultados de {{page+1}} - {{page+9}}</span>
        <button>&lt;</button>
        <span>{{page+1}}</span>
        <button>&gt;</button>
    </div>
</div>